
# Ignore tests (temporary)
tests
tests/*

# Ignore object files
src/*.o
src/*.so

# Ignore temporaries
*~
src/*~
inst/include/*~
R/tmp.R

# Ignore Mac specific files
.DS_Store

# Ignore any .Rhistory-ies
.Rhistory