
useDynLib(vb, .registration = TRUE)

import( RcppEigen )
importFrom( Rcpp, sourceCpp )


export( bglm.control )
export( blr )
export( blr.fit )
export( brlm )
export( brlm.fit )
export( loocv )
export( rcs )


## --- S3 Methods for class 'rcs' ------------------------------------
S3method( predict, rcs )


## --- S3 Methods for class 'blr' ------------------------------------
S3method( summary, blr )
S3method( vcov, blr )


## --- S3 Methods for class 'brlm' -----------------------------------
S3method( deviance, brlm )
S3method( logLik, brlm )
S3method( loocv, brlm )
S3method( model.matrix, brlm )
S3method( print, brlm )
S3method( print, summary.brlm )
S3method( sigma, brlm )
S3method( summary, brlm )
S3method( vcov, brlm )


